@font-face { 
 font-family: "aged"; 
 src: url('/fonts/Aged_Book.ttf'); 
}

@font-face { 
 font-family: "Droid"; 
 src: url('/fonts/DroidSans.ttf');
 font-weight:normal;
}

@font-face { 
 font-family: "Droid"; 
 src: url('/fonts/DroidSans-Bold.ttf');
 font-weight:bold;
} 

.hidden {
  display: none;
}


