
body {
  text-align: center;
  background-color: white;
  font-family: Droid, Arial;
  font-size: 12px;
}

#masthead{
  position: relative;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://s3.amazonaws.com/myfangate.com/geoffrey/mastheadbackground.jpg")
}

#game-container{
  position: relative;
  min-width: $game-container-width;
  height: $game-container-height;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/myfangate.com/geoffrey/gamecontainerbackground.jpg");
  background-position: center;
  background-repeat: repeat-x;
  overflow-y: hidden; 
}

#pow-container {
  z-index: 800;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  #pow {
    z-index: 800;
    position: absolute;
    top:0;
    bottom:0;
    width: $game-container-width;
    height:$game-container-height;
    left:50%;
    margin-left: - ($game-container-width / 2);
  }
}



.clouds{
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 138px;

  background-image: url("https://s3.amazonaws.com/myfangate.com/geoffrey/clouds.png");
  background-position: center; 
  background-repeat: repeat-x;
}


#geoff {
  display: inline-block;
  margin: 0 auto;
  width: $game-container-width;
  height:$game-container-height;

}

.buttons {
  position: absolute;
  height: $action-btn-size-hover;
  bottom:0;
  width:100%;
}

@mixin action-btn-large() {
  margin: 0;
  width:  $action-btn-size-hover;
  height: $action-btn-size-hover;
}

@mixin action-btn-small() {
  margin: ($action-btn-size-hover - $action-btn-size-small) / 2;
  width:  $action-btn-size-small;
  height: $action-btn-size-small;
}

.action-btn{
  display: inline-block;
  position: relative;

  background-size: 100%;

  cursor: pointer;

  @include transition(top .2s linear);
  top: 0;

  margin: ($action-btn-size-hover - $action-btn-size) / 2;
  width:  $action-btn-size;
  height: $action-btn-size;

  [data-click-action] & {
    top: $action-btn-size-hover * 2;
  }
  
  &.action-btn-rock {
    background-image: url("https://s3.amazonaws.com/myfangate.com/geoffrey/rockbutton.png");

    [data-hover-action=rock] &,
    [data-click-action=rock] & {
      @include action-btn-large();
      top:0;
    }
  }
  &.action-btn-paper {
    background-image: url("https://s3.amazonaws.com/myfangate.com/geoffrey/paperbutton.png");

    [data-hover-action=paper] &,
    [data-click-action=paper] & {
      @include action-btn-large();
      top:0;
    }
  }
  &.action-btn-scissors {
    background-image: url("https://s3.amazonaws.com/myfangate.com/geoffrey/scissorsbutton.png");

    [data-hover-action=scissors] &,
    [data-click-action=scissors] & {
      @include action-btn-large();
      top:0;
    }
  }
  &.action-btn-lizard {
    background-image: url("https://s3.amazonaws.com/myfangate.com/geoffrey/lizardbutton.png");

    [data-hover-action=lizard] &,
    [data-click-action=lizard] & {
      @include action-btn-large();
      top:0;
    }
  }
  &.action-btn-spock {
    background-image: url("https://s3.amazonaws.com/myfangate.com/geoffrey/spockbutton.png");

    [data-hover-action=spock] &,
    [data-click-action=spock] & {
      @include action-btn-large();
      top:0;
    }
  }
}



.btn-play-game{
  border-radius: 15px;
  border: 0px;
  padding: 14px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
  background-color: #73bf45;
  font-size: 30px;
  
  &:hover {
    background-color: #ab1618;
  }
}

.score{
position: absolute;
font-size: 60px;
padding: 20px;
font-family: Aged, Arial;
text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.6);
color: #fff
}

#user-tally{

left: 0

}

#opponent-tally{

right: 0

}
