<% @buttons = ["rock","paper","scissors","lizard","spock"] %>

<% @buttons.each do |button| %>
  <a href="#<%= button %>" data-action="<%= button %>" class="action-btn action-btn-<%= button %>"><%= button %></a>
<% end %>
