<div id="masthead">
<img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/geoffrey/logo.png">
<div id="clouds"></div>
</div>
<div id="player"></div><br>
<button class="playgamebutton">Click Here to Play the Game</button>
<div id="game-container">	
	<div id="geoff"></div>
	<div class="buttons">
	  <%= partial "partials/buttons" %>
	</div>
</div>
