<div id="masthead">
  <img src="https://s3.amazonaws.com/myfangate.com/geoffrey/logo.png">
  <div class="clouds"></div>
</div>


<div id="player-container">
  <div id="player"></div>
</div>

<button class="btn-play-game hidden" data-scroll-to="#game-container">Click Here to Play Against Geoffrey</button>

<div id="game-container" class="hidden">
  <div id="score-container">
    <div id="user-tally" class="score">You: 0</div>
    <div id="opponent-tally" class="score">Geoffrey: 0</div>
  </div>
  <div id="pow-container">
    <div id="pow">
      <img src="https://lh6.ggpht.com/ste-NwJCO0OvYmVQfx44NQqYP9VZlCZALdSPS4FHVBjK7ANOWF6FVRsZYswdy_50C26Q=w300">
    </div>
  </div>

	<div id="geoff"></div>
  
  <div class="clouds"></div>

	<div class="buttons">
	  <%= partial "partials/buttons" %>
	</div>
</div>
