<div id="masthead">
  <img src="https://s3.amazonaws.com/myfangate.com/geoffrey/logo.png">
  <div class="clouds"></div>
</div>

<div id="playercontainer">
  <div id="player"></div>
</div>

<button class="playgamebutton hidden" data-scroll-to="#game-container">Click Here to Play the Game</button>

<div id="game-container" class="hidden">
	<div id="geoff"></div>
  
  <div class="clouds"></div>

	<div class="buttons">
	  <%= partial "partials/buttons" %>
	</div>
</div>
