<!-- remodal-bg -->
<div class="">
  <div id="masthead">
    <img src="https://s3.amazonaws.com/myfangate.com/geoffrey/logo.png">
    <div class="clouds"></div>
  </div>

  <div id="player-container">
    <img src="https://s3.amazonaws.com/myfangate.com/geoffrey/videoheader2.jpg">
    <br>
    <div id="player"></div>
    <br>
    <div id="continue-wrap">
      <div id="continue">
        <button class="btn-play-game hidden" data-scroll-to="#game-container">Play the Game</button>
        <a href="http://www.geoffreythegiant.com"><div class="continue-btn"></div></a>
      </div>
    </div>
  </div>
  
  
  <div id="game-container" class="hidden">
    <div id="score-container">
      <div id="user-tally" class="score">You: <span>0</span></div>
      <div id="rounds" class="score">Round <span>1</span></div>
      <div id="opponent-tally" class="score">Geoffrey: <span>0</span></div>
    </div>
    <div id="pow-container">
      <div id="pow">
        <img src="https://lh6.ggpht.com/ste-NwJCO0OvYmVQfx44NQqYP9VZlCZALdSPS4FHVBjK7ANOWF6FVRsZYswdy_50C26Q=w300">
      </div>
    </div>

  	<div id="geoff"></div>
    
    <div class="clouds"></div>

  	<div class="buttons">
  	  <%= partial "partials/buttons" %>
  	</div>
  </div>


  <div id="socialbadges">
    <div>
    <div class="fb-like" data-href="https://www.facebook.com/geoffreythegiant" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
    <div>
    <a href="https://twitter.com/geoffrythegiant" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @geoffrythegiant</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div>
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channel="GeoffreyTheGiant"></div>
    </div>
  </div>

  

  <div class="remodal" id="share-modal">
    <h1>Congratulations! You've defeated The Giant!</h1>
    <h2>Share to redeem your prize</h2>
      <div class="share-icons">
        <div class="share" data-social="facebook">
            <i class="fa fa-facebook-square"></i>
            <p>
            Share on Facebook
            </p>
        </div>
        <div class="share" data-social="twitter">
            <i class="fa fa-twitter-square"></i>
            <p>
            Share on Twitter
            </p>
        </div>
        <div class="share" data-social="google">
            <i class="fa fa-google-plus-square"></i>
            <p>
            Share on Google Plus
            </p>
        </div>
      </div>
    <br>
    <a class="remodal-confirm modal-ok-style" href="#">Keep Playing</a>
  </div>

  <div class="remodal" id="lost-modal">
    <h1>Oh no! The Giant has defeated you.</h1>
    <h2>Advance to the next round for a free download!</h2>
    <br>
    <a class="remodal-confirm modal-ok-style" href="#">Try Again</a>
  </div>

  <div class="remodal" id="download-modal">
    <h1>You've earned a free download!</h1>
    <a class="prize-link" href="#" target="_blank">
      <h2>Click to download</h2>
      <div class="large-icon">
        <i class="fa fa-download"></i>
      </div>
      <h2 class="prize-name">Prize</h2>
    </a>
  </div>


</div>

